# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
wheels/
pip-wheel-metadata/

# Virtual Environment
venv/
env/
ENV/

# VS Code
.vscode/
*.code-workspace

# Jupyter Notebooks
.ipynb_checkpoints

# OS files
.DS_Store
Thumbs.db
desktop.ini

# Streamlit
.streamlit/secrets.toml

# Large model files (already pushed, ignore future ones)
*.pkl

# Logs
*.log
